styles.css
body{background-color: black;
    font-family: 'Arial', 'Helvetica';
    color: white}
    
h1   {color:#675f4b;
    font-family: 'Arial', 'Helvetica'; 
    font-size: 20px;}

p   {font-size: 12px;
    color:green}

div.demo{border-style:dotted;
        border-width: 2px;
        width: 100px;
        height: 100px}

ol{list-style-type: upper-latin;}

ul{list-style-type: square;}