body
    {background-color: #000000 !important;
    color: 	#ffffff}

h1  
    {font-size: 20px;}

p   {font-size: 12px;
    color:green}

div.demo{border-style:dotted;
        border-width: 2px;
        width: 100px;
        height: 100px;}

ol{list-style-type: upper-alpha}

ul{list-style-type: square}
